body{

font-family:'Poppins',sans-serif;

background:#f5f7fb;

margin:0;

}



nav{

display:flex;

justify-content:space-between;

padding:20px;

background:white;

}



.title{

text-align:center;

}



.trip-container,
.members,
.community-cards{

display:flex;

gap:25px;

justify-content:center;

flex-wrap:wrap;

}



.trip-card,
.profile-card,
.community-card,
.form-box{


background:white;

padding:20px;

width:300px;

border-radius:20px;

box-shadow:0 5px 20px rgba(0,0,0,0.1);


}



.trip-card img,
.profile-card img{

width:100%;

height:180px;

object-fit:cover;

border-radius:15px;

}



button,
a{

background:#00796b;

color:white;

padding:12px 20px;

border:none;

border-radius:25px;

text-decoration:none;

cursor:pointer;

}



.women{

background:#ffe0ec;

padding:8px;

border-radius:20px;

}
body{

font-family:Arial;

background:#f5f7fb;

}


.create-container{

width:400px;

background:white;

margin:60px auto;

padding:30px;

border-radius:20px;

box-shadow:0 8px 25px #ccc;

}



h1{

text-align:center;

color:#00695c;

}



input,select{

width:100%;

padding:12px;

margin:12px 0;

border-radius:10px;

border:1px solid #ccc;

}



button{

width:100%;

padding:14px;

border:none;

border-radius:25px;

background:#00897b;

color:white;

font-size:16px;

cursor:pointer;

}



button:hover{

background:#004d40;

}
body{

font-family:Arial;

background:#f5f7fb;

}


.create-container{

width:400px;

background:white;

margin:60px auto;

padding:30px;

border-radius:20px;

box-shadow:0 8px 25px #ccc;

}



h1{

text-align:center;

color:#00695c;

}



input,select{

width:100%;

padding:12px;

margin:12px 0;

border-radius:10px;

border:1px solid #ccc;

}



button{

width:100%;

padding:14px;

border:none;

border-radius:25px;

background:#00897b;

color:white;

font-size:16px;

cursor:pointer;

}



button:hover{

background:#004d40;

}